name: CI Docs

on:
    workflow_dispatch:
    pull_request:
      branches: ['master']
      paths:
        - .github/ci-docs.yml
        - docs/**

jobs:
  build:
    name: Build docs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5

      - name: Setup job environment
        id: setup-job
        uses: ./.github/actions/setup-job-env
        with:
          cache-key: docs
          node-version: 22.x

      - name: Build
        run: pnpm docs:build --filter='./docs/**'

  test:
    name: Test docs
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5

      - name: Setup job environment
        id: setup-job
        uses: ./.github/actions/setup-job-env
        with:
          cache-key: docs
          node-version: 22.x

      - name: Test linting, formatting and import sorting
        run: pnpm run ci --filter=@ocoda/event-sourcing-docs

  merge-check:
    name: Merge check
    needs: [build, test]
    uses: ./.github/workflows/merge-check.yml
    with:
        conditions: ${{ needs.test.result == 'success' }}